@charset "utf-8";
$col_font_1:#fff;
$col_font_2:#959d9f;
$col_font_3:#06736e;
$col_font_4:#00bfb8;
$col_font_tt:#222;
$col_font_5:#333;

$col_bg_1:#fff;
$col_bg_2:#353535;
$col_bg_3:#00bfb8;
$col_bg_4:#009994;
$col_bg_5:#54d1cb;
$col_bg_6:#00a49d;
$col_bg_7:#7ecfc0;
$col_bg_8:#01aca4;
$col_bg_9:#fafafa;

$col_bd_1:#fff;
$col_bd_2:#16a19e;
$col_bd_3:#5ec8be;
$col_bd_4:#009895;
$col_bd_5:#54d1cb;
$col_bd_6:#888;
$col_bd_7:#efeeee;
$col_bd_8:#dce0e1;
$col_bd_9:#222;
